# Operating System files
Thumbs.db
desktop.ini

# IDE/Editor files
.vscode/

# Build output folders
node_modules/
dist/
build/
target/

# Environment files
.env
.env.local
.env.development
.env.production

# Dependency manager lock files (if using npm, yarn, etc.)
yarn.lock
package-lock.json
composer.lock

# Auto Fetch
git_auto_fetch.sh

# Projects
semestre_2/tecnicas_de_programacao/projeto_loja
semestre_2/projeto_integrador/segunda_entrega/my_spot
