# Operating System files
Thumbs.db
desktop.ini

# IDE/Editor files
.vscode/

# Build output folders
node_modules/
dist/
build/
target/

# Environment files
.env
.env.local
.env.development
.env.production

# Dependency manager lock files (if using npm, yarn, etc.)
yarn.lock
package-lock.json
composer.lock

# Auto Fetch
git_auto_fetch.sh

# Docker
second/banco_de_dados/docker-phpmyadmin
third/banco_de_dados_nosql/docker-mongo-express
third/banco_de_dados_nosql/docker-mongodb-new

# Projetos
first/projeto_integrador
second/projeto_integrador/my_spot
third/projeto_integrador

#Atividade
second/tecnicas_de_programacao/projeto_loja
third/desenvolvimento_web_3/testspring

